.description-bloc {
  width: 50vw;
  color: white;
}

.cocktail-name-show {
  font-weight: bold;
  font-size: 50px;
  padding: 30px;
}

.cocktail-content {
  margin-top: 15px;
}

.ingredients-bloc {
  width: 20vw;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.banner-nico {
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.ingredient-list-name {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.ingredient-list-name h3 {
  text-align: center;
  font-weight: bolder;
}

.btn-modifiers {
  width: 20vw;
  border-radius: 10px;
}

.edit, .remove, .add-ingredient {
  text-align: center;
  margin-top: 10px;
  background-color: #465881;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold;
  &:hover {
    background-color: #5231B3;
  }
}

.btn-modifiers p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  &:hover{
    color: white;
  }
}

.dose {
  display: none;
}

.blue {
  color: #465881;
  margin-right: 5px;
}
