.description-bloc {
  width: 50vw;
  color: white;
}

.cocktail-name-show {
  font-weight: bold;
  font-size: 50px;
  padding: 30px;
}

.cocktail-content {
  margin-top: 15px;
}

.ingrediensts-bloc {
  width: 20vw;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.banner-nico {
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.ingredient-list-name {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.ingredient-list-name h3 {
  text-align: center;
  font-weight: bolder;
}
